humanize
tqdm
onnx_caffe2
onnx
torch<=0.3.1
torchvision
nltk
pandas
pycocotools
XlsxWriter
filelock
matplotlib
scikit_image
pybenchmark
tinydb
graphviz
pretrainedmodels
inflection
videosequence
pymediainfo
Pillow
scipy
skimage
scikit_learn
tensorboardX
wget
PyYAML
